body{
    background-color: rgb(201, 194, 175);
 }
 .main-container {
     display: flex;
     flex-direction: row;
     
 }
 .login-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100%;
     width: 100%;
     
 }
 .login-box{
     width: 25em;
     height: 22em;
     padding: 42px;
     background-color: rgb(11, 11, 11);
     border-top-right-radius: 1em;
     border-bottom-right-radius: 1em;
     box-shadow: 0 0 5px #414143;
     color: #ffffff;
 }
 
 h2{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     margin: 46px;
     font-size: 200%;
     text-shadow: 0 0 5px #cacaca;
 }
 p{
     margin-top: 18px;
     font-family: cursive;
     text-align: center;
     margin-bottom: 45Px;
     font-size: 70%;
     text-shadow: 0 0 5px #cacaca;
 }
 .form-group{
     margin-bottom: 10px;
     margin-top: 0px;
 }
 label{
     display: block;
     font-weight: bold;
 }
 input[type="text"],input[type="password"]{
     width: 100%;
     padding: 15px;
     border-radius: 1em;
     /* border: 2px solid #535355; */
     /* border:none */
 }
 button{
     display: block;
     width: 100%;
     min-height: 50px;
     margin-top: 40px;
     background-color: #71b94b;
     color: #ffffff;
     font-family: 'Courier New', Courier, monospace;
     border: none;
     border-radius: 1em;
     cursor:pointer;
     box-shadow: 0 0 5px #ffffff;
 
 }
 button:hover{
     color: rgb(223, 223, 223);
     box-shadow: 0 0 5px #fff;
     animation: glowing 7s infinite;
 }
 .my-image{
     display: flex;
     justify-content: right;
     border-top-left-radius: 1em;
     border-bottom-left-radius: 1em;
     height: 100%;
     width: 40%;
 }
 .content{
     display: flex;
     justify-content: right;
 }
 @keyframes glowing {
     0%{
         box-shadow: #fff;
     }
     25%{
         box-shadow: 0 0 5px #276e88;
     }
     50%{
         box-shadow: 0 0 20px #399062;
     }
     65%{
         box-shadow: 0 0 5px #ffffff;
     }
     95%{
         box-shadow: 0 0 5px #bfbfc1;
     }
     100%{
         box-shadow: 0 0 5px #fff;
     }
 }
 .login-box.error input{
    border-color: #f00;
 }
 .login-box.success input{
    border-color: #379c32;
 }

 /* ------------------------------------ */
 /* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
  }
  /* Welcome body container */
  .body-container{
    text-align: center;
    background-color: #71b94b;
    color: white;
  }