body{
    display: flex;
    flex-direction: column;
    background-color: rgb(135, 199, 222);
}
table{
    background-color: rgb(112, 180, 44);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-spacing: auto;
    width: 60%;    
}
th{
    background-color: rgb(205, 205, 65);
    color: red;
    height: 10px;
    
} 
td{
    background-color: green;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
}
input{
    background-color: rgb(252, 252, 252);
    color: rgb(21, 108, 15);
    height: 40px;
    width: 60%;
    border:none;
    border-radius: 15px;
    text-align: center;
    margin-top: 20px;
}
.search1{
    justify-content: center;
}
button{
    height: 40px;
    width: 20%;
    border: none;
    background-color: rgb(40, 207, 40);
    border-radius: 15px;
}